<!-- Page Sidebar Start-->
<div class="logo-wrapper">
  <a class="text-dark font-weight-bold" routerLink="/">
    <img
      class="img-fluid for-light sidebar-logo"

      [src]="logo ? imgBaseUrl+logo : 'assets/images/logo/logoimage.jpeg'"
     
      alt=""
    />
    {{title}}
  </a>
  <div class="back-btn" (click)="sidebarToggle()">
    <i class="fa fa-angle-left"></i>
  </div>

</div>
<div class="logo-icon-wrapper">
  <a href="javascript:void(0)">
    <img class="img-fluid sidebar-logo" src="assets/images/logo/logoimage.jpeg" alt="" />
  </a>
</div>
<nav class="sidebar-main">
  <div
    class="left-arrow"
    id="left-arrow"
    [class.d-none]="leftArrowNone"
    (click)="scrollToLeft()"
  >
    <app-feather-icons [icon]="'arrow-left'"></app-feather-icons>
  </div>
  <div
    id="sidebar-menu"
    [ngStyle]="{
      marginLeft:
        this.layout.config.settings.layout == 'Rome' ||
        'Singapore' ||
        'Barcelona'
          ? margin + 'px'
          : '0px'
    }"
  >
    <ul class="sidebar-links custom-scrollbar">
      <li class="back-btn">
        <a href="javascript:void(0)">
          <img
            class="img-fluid"
            src="assets/images/logo/logo-icon.png"
            alt=""
          />
        </a>
        <div class="mobile-back text-right" (click)="sidebarToggle()">
          <span>Back</span>
          <i class="fa fa-angle-right pl-2" aria-hidden="true"></i>
        </div>
      </li>

      <li
        class="sidebar-list"
        *ngFor="let menuItem of menuItems"
        [ngClass]="{ active: menuItem.active }"
      >
        <a
          [routerLink]="!menuItem.type ? null : [menuItem.path]"
          routerLinkActive="active"
          class="sidebar-link sidebar-title"
          [ngClass]="{ active: menuItem.active }"
          *ngIf="menuItem.type === 'link'"
        >
          <app-feather-icons [icon]="menuItem.icon"></app-feather-icons
          >
          <span>{{ menuItem.title | translate }} </span> 
          <span class="badge badge-danger" *ngIf="urread_msg_count && menuItem.is_bedge && urread_msg_count">{{urread_msg_count}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div
    class="right-arrow"
    id="right-arrow"
    [class.d-none]="rightArrowNone"
    (click)="scrollToRight()"
  >
    <app-feather-icons [icon]="'arrow-right'"></app-feather-icons>
  </div>
</nav>
