

.notification-click {
cursor: pointer;
}
.scrollbar-deep-purple::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-deep-purple::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-deep-purple::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #512da8; }
    
    .scrollbar-deep-purple {
    scrollbar-color: #512da8 #F5F5F5;
    }
    
    
    .thin::-webkit-scrollbar {
    width: 6px; }
    
    .example-1 {
    position: relative;
    overflow-y: scroll;
    overflow-x:hidden ;
    height: 500px; }
    /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}

@media screen and (min-width: 320px) {
    .col-8 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}
@media screen and (min-width: 321px) and (max-width:480px){
    .col-8 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media screen and (min-width: 481px) and (max-width:720px) {
    .col-8 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media screen and(min-width: 721px) and (max-width:1080px) {
    .col-8 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media screen and(min-width: 1080px) and (max-width: 1280px){
    .col-8 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1920px){
    .col-8 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}
.error-msg {
    border-color: red;
}

.hrline {
    width: 96%;
    background-color: #ededed;
    height: 0px;
}