<app-breadcrumb
  [title]="'Notifications'"
  [active_item]="'Notifications'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="">
    <div class="row">
      <div class="col-xl-12 col-md-12 box-col-12">
        <div class="card mb-0">
          <div class="card-body social-status filter-cards-view">
            <!-- <div class="media">
              <img
                class="img-50 rounded-circle m-r-15"
                src="../assets/images/user/10.jpg"
                alt=""
              />
              <div class="media-body">
                <span class="f-w-600 d-block">Andew Jon Shared a file</span>
                <a [routerLink]="['/file-management/upload/view']">
                  File Name
                </a>
                <div class="p-t-15 pb-3">
                  <textarea class="form-control">
                  </textarea>
                  <div class="row btn-group-sm p-t-10">
                    <button 
                      [routerLink]="['/file-management/sign']"
                    class="btn w-auto ml-3 mr-3 btn-primary">
                      Accept
                    </button>
                    <button class="btn w-auto btn-danger">Reject</button>
                  </div>
                </div>
                <span class="light-span">20 min Ago</span>
              </div>
            </div> -->
            <div class="media notification-click" *ngFor="let notification of notifications">
              <img 
                class="img-50 rounded-circle m-r-15" height="50px"
                [src]="(notification.send_by_user && notification.send_by_user.profilePic) ? imgBaseUrl+notification.send_by_user.profilePic : '../assets/images/user/3.jpg'"
                alt=""
              />
              
              <div class="media-body">
                <div [routerLink]="['/file-management/upload/view']" [queryParams]="{id: notification.file_id}">
                <span class="f-w-600 d-block" *ngIf="notification.send_by_user">{{notification.send_by_user.firstName}} {{notification.send_by_user.lastName}}</span>
                <p *ngIf="notification.status == 2 && notification.send_by_user">
                  {{notification.send_by_user.firstName}} {{notification.send_by_user.lastName}} has been signed the '{{notification.shared_file.originalFileName}}' file.
                </p>
                <p *ngIf="notification.status == 2 && !notification.send_by_user">
                  {{notification.message}} 
                </p>
                <p *ngIf="notification.status == 1">
                  {{notification.send_by_user.firstName}} {{notification.send_by_user.lastName}} has been shared the '{{notification.shared_file.originalFileName}}' file with you.
                </p>
                <p *ngIf="notification.status == 3">
                  Please add sign, Now it's your time to submit the signature.
                </p>
                <div *ngIf="notification.status == 4">
                  <p>Accepted</p> 
                  <p> <i>{{notification.message}}</i> </p>
                </div>
                <div *ngIf="notification.status == 5">
                 <p>Rejected</p> 
                  <p> <i>{{notification.message}}</i> </p>
               
                </div>
                <div *ngIf="notification.status == 9">
                  <p>File Status updated</p> 
                   <p> <i> File {{notification.shared_file.originalFileName}} is {{notification.message}} by Inittiator</i> </p>
                
                 </div>
                <p *ngIf="notification.status == 7">
                  Inittiator has been reshare the edited file with you.
                </p>
              </div>
            
                <div class="p-t-15 pb-3" *ngIf="notification.send_to_user.id == user_details.id && (notification.status == 1 || notification.status == 7)  && notification.request_sent">
                  <textarea placeholder="Please enter message" class="form-control" [ngClass]="{'error-msg': is_msg_error}" [(ngModel)]="message" maxlength="500">
                  </textarea>
                  <div class="row btn-group-sm p-t-10">
                    <button 
                    (click)="updateFileStatus(notification,1)"
                    class="btn w-auto ml-3 mr-3 btn-primary">
                      Accept
                    </button>
                    <button (click)="updateFileStatus(notification,2)" class="btn w-auto btn-danger">Reject</button>
                  </div>
                </div>
                <span class="light-span">{{notification.createdAt | customDate}} ago
                   <!-- {{notification.createdAt | customDate }} -->
                  </span>
                  <hr class="hrline">
              </div>
             
            </div>

            <div class="text-center" *ngIf="!notifications || !notifications.length"><i>No Notifications</i></div>
            <!-- <div class="media">
              <img
                class="img-50 rounded-circle m-r-15"
                src="../assets/images/user/5.jpg"
                alt=""
              />
              <div class="media-body">
                <span class="f-w-600 d-block">Comeren Diaz</span>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Maiores,
                </p>
                <span class="light-span">1 days Ago</span>
              </div>
            </div>
            <div class="media">
              <img
                class="img-50 rounded-circle m-r-15"
                src="../assets/images/user/4.jpg"
                alt=""
              />
              <div class="media-body">
                <span class="f-w-600 d-block">Sarah Loren</span>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Maiores,
                </p>
                <span class="light-span">2 days Ago</span>
              </div>
            </div>
            <div class="media">
              <img
                class="img-50 rounded-circle m-r-15"
                src="../assets/images/user/3.jpg"
                alt=""
              />
              <div class="media-body">
                <span class="f-w-600 d-block">Johny Waston</span>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Maiores,
                </p>
                <span class="light-span">5 days Ago</span>
              </div>
            </div>
            <div class="media">
              <img
                class="img-50 rounded-circle m-r-15"
                src="../assets/images/user/5.jpg"
                alt=""
              />
              <div class="media-body">
                <span class="f-w-600 d-block">Comeren Diaz</span>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Maiores,
                </p>
                <span class="light-span">6 days Ago</span>
              </div>
            </div> -->
            <div class="pull-right mb-5">
   
              <button
                class="btn btn-primary m-r-15"
                type="button"
                [disabled]="page == 1"
                (click)="fetchPage(-1)"
                data-bs-original-title=""
                title=""
              >
                Previous
              </button>
              <button
              class="btn btn-primary"
              [disabled]="page >= total"
              (click)="fetchPage(1)"
              type="button"
              data-bs-original-title=""
              title=""
            >
              Next 
            </button>
            </div>
            <!-- <div class="col-12 text-right">
              <button
                class="btn btn-primary m-r-15"
                type="button"
                data-bs-original-title=""
                title=""
              >
                Previous
              </button>
              <button
                class="btn btn-primary"
                type="button"
                data-bs-original-title=""
                title=""
              >
                Next
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
