<div class="row">
  <div class="col-xl-12 col-md-12 box-col-12">
    <div class="file-content">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <div class="ml-4">
              <h4>File Management</h4>
            </div>
            <div class="media-body text-right">
              <div class="col-6 ml-4">
                <h4>Comment Section</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-5 px-5">
              <div class="pdfFile">
                <h2>Under Developement</h2>
              </div>
            </div>
            <div class="col-7">
              <div class="">
                <div class="container">
                  <div class="row">
                    <div class="">
                      <div class="media g-mb-30 media-comment">
                        <div
                          class="media-body u-shadow-v18 g-bg-secondary g-pa-30"
                        >
                          <div class="g-mb-15">
                            <h5 class="h5 g-color-gray-dark-v1 mb-0">
                              John Doe
                            </h5>
                            <span class="g-color-gray-dark-v4 g-font-size-12"
                              >5 days ago</span
                            >
                          </div>

                          <p>
                            Cras sit amet nibh libero, in gravida nulla. Nulla
                            vel metus scelerisque ante sollicitudin. Cras purus
                            odio, vestibulum in vulputate at, tempus viverra
                            turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus
                            ras purus odio, vestibulum in vulputate at, tempus
                            viverra turpis.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="media g-mb-30 media-comment">
                        <div
                          class="media-body u-shadow-v18 g-bg-secondary g-pa-30"
                        >
                          <div class="g-mb-15">
                            <h5 class="h5 g-color-gray-dark-v1 mb-0">
                              John Doe
                            </h5>
                            <span class="g-color-gray-dark-v4 g-font-size-12"
                              >5 days ago</span
                            >
                          </div>

                          <p>
                            Cras sit amet nibh libero, in gravida nulla. Nulla
                            vel metus scelerisque ante sollicitudin. Cras purus
                            odio, vestibulum in vulputate at, tempus viverra
                            turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus
                            ras purus odio, vestibulum in vulputate at, tempus
                            viverra turpis.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="media g-mb-30 media-comment">
                        <div
                          class="media-body u-shadow-v18 g-bg-secondary g-pa-30"
                        >
                          <div class="g-mb-15">
                            <h5 class="h5 g-color-gray-dark-v1 mb-0">
                              John Doe
                            </h5>
                            <span class="g-color-gray-dark-v4 g-font-size-12"
                              >5 days ago</span
                            >
                          </div>

                          <p>
                            Cras sit amet nibh libero, in gravida nulla. Nulla
                            vel metus scelerisque ante sollicitudin. Cras purus
                            odio, vestibulum in vulputate at, tempus viverra
                            turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus
                            ras purus odio, vestibulum in vulputate at, tempus
                            viverra turpis.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
