<div class="row m-0">
  <div class="col-xl-6 p-0">
    <div class="login-card">
      <a class="logo">
        <img
          class="img-fluid for-light"
          [src]="logo ? imgBaseUrl+logo : '../assets/images/logo/logoimage.jpeg'"
          alt="looginpage"
        />
      </a>
    </div>
  </div>
  <div class="col-xl-6 p-0">
    <div class="login-card">
      <div>
        <div class="login-main">
          <form [formGroup]="registerForm" (ngSubmit)="register()" class="theme-form">
            <h4>Create your account</h4>
            <p>Enter your personal details to create account</p>
            <div class="form-group">
              <label class="col-form-label pt-0">Your Name</label>
              <div class="row g-2">
                <div class="col-6">
                  <input
                    class="form-control"
                    type="text"
                    required=""
                    formControlName="firstName"
                    placeholder="First name"
                  />
                </div>
                <div class="col-6">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="lastName"
                    placeholder="Last name"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Email Address</label>
              <input
                class="form-control"
                type="email"
                required=""
                formControlName="email"
                placeholder="Test@gmail.com"
              />
            </div>
            <div class="form-group">
              <label class="col-form-label">Password</label>

              <div class="input-group">
                <input
                  autocomplete="off"
                  [type]="showPass2 ? 'text' : 'password'"
                  [placeholder]="showPass2 ? 'Enter New Password' : '*********'"
                  class="form-control"
                  formControlName="password"
                  name="login[password]"
         
                  />
                <div class="input-group-append sign">
                  <button
                    class="btn"
                    (click)="showPass2 = !showPass2"
                    type="button"
                  >
                    <i
                      *ngIf="showPass2 == true"
                      class="fa fa-eye text-dark"
                    ></i>
                    <i
                      *ngIf="showPass2 == false"
                      class="fa fa-eye-slash text-dark"
                    ></i>
                  </button>
                </div>
              </div>
            </div>
         
            <div class="form-group mb-0">

              <button class="btn btn-primary btn-block w-100" type="submit" [disabled]="!registerForm.valid || requested == true">
                Create Account
              </button>
            </div>
            <p class="mt-4 mb-0">
              Already have an account?<a class="ms-2" [routerLink]="['/auth/login']"
                >Sign in</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
