<div class="row m-0 chart-main align-items-center">
  <div class="col-sm-12" *ngIf="!isAdmin">
    <div class="btn-group m-20 m-b-0" role="group" aria-label="Basic example">
      <button
        (click)="myListing = false;myUploadedFiles()"
        [class]="myListing ? 'btn-light' : 'btn-primary'"
        class="btn"
        type="button"
        data-bs-original-title=""
        title=""
      >
        My Upload
      </button>
      <button
        (click)="myListing = true;sharedWithMeFiles()"
        [class]="myListing ? 'btn-primary' : 'btn-light'"
        class="btn"
        type="button"
        data-bs-original-title=""
        title=""
      >
        Shared With me
      </button>
    </div>
  </div>
  <ng-container *ngIf="!myListing">
    <div class="col-xl-9 col-md-9 col-sm-12 p-0 box-col-6">
      <form [formGroup]="searchForm">
        <div class="row p-4">
          <div class="col-md-3 position-relative">
            <input class="form-control" placeholder="File name" type="text"  formControlName="keyword" />
          </div>
          <div class="col-md-3 position-relative" *ngIf="isAdmin">
            <select class="form-control btn-square" formControlName="role" >
              <option selected value="">-- Select role --</option>
              <option value="User">User</option>
              <option value="Admin">Admin</option>
            </select>
          </div>
          <!-- <div class="col-md-3 position-relative">
            <input class="form-control" placeholder="From Date" type="date" formControlName="start_date" />
          </div> -->
          <div class="col-md-3 position-relative">
            <select class="form-control btn-square" formControlName="status">
              <option value="" selected>-- Status --</option>
              <option value="Pending">Pending</option>
              <option value="inprogress">Inprogress</option>
              <option value="inactive">Inactive</option> 
              <option value="Completed">Completed</option>
              <option value="Approved">Approved</option>
            </select>
          </div>
          <div class="col-md-3 position-relative">
            <input class="form-control" placeholder="To Date" type="date" formControlName="date" />
          </div>
        </div>
      </form>
    </div>
    <div class="col-xl-1 col-md-1 col-sm-12 p-0 box-col-6 text-right">
      <button
        class=" btn btn-primary p-1 px-3"
        type="button"
        (click)="search()"
      >
        Search
      </button>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12 p-0 box-col-6 text-left">
      <button
        class="m-4 btn btn-primary p-1 px-3"
        type="button"
        (click)="reset()"
      >
        Reset
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="myListing">
    <div class="col-xl-9 col-md-9 col-sm-12 p-0 box-col-6">
      <form [formGroup]="searchForm">
        <div class="row p-4">
          <div class="col-md-3 position-relative">
            <input class="form-control" placeholder="File name" type="text"  formControlName="keyword" />
          </div>
          <div class="col-md-3 position-relative" *ngIf="isAdmin">
            <select class="form-control btn-square" formControlName="role" >
              <option  value="" selected>-- Select role --</option>
              <option value="User">User</option>
              <option value="Admin">Admin</option>
            </select>
          </div>
          <!-- <div class="col-md-3 position-relative">
            <input class="form-control" placeholder="From Date" type="date" formControlName="start_date" />
          </div> -->
          <div class="col-md-3 position-relative">
            <select class="form-control btn-square" formControlName="status">
              <option value="" selected>-- Status --</option>
              
              <option value="Pending">Pending</option>
              <option value="inprogress">Inprogress</option>
              <option value="inactive">Inactive</option>
              <option value="Completed">Completed</option>
              <option value="Approved">Approved</option>
            </select>
          </div>
          <div class="col-md-3 position-relative">
            <!-- <label for="" > start_date</label> -->
            <input class="form-control" placeholder="To Date" type="date" formControlName="date" />
          </div>
        </div>
      </form>
    </div>
    <div class="col-xl-1 col-md-1 col-sm-12 p-0 box-col-6 text-right">
      <button class="btn btn-primary p-1 px-3" type="button"  (click)="search()">Search</button>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12 p-0 box-col-6 text-left">
      <button
        class="m-4 btn btn-primary p-1 px-3"
        type="button"
        (click)="reset()"
      >
        Reset
      </button>
    </div>
  </ng-container>
</div>
<div class="row">
  <div class="col-xl-12 box-col-12">
    <div class="table-responsive">
      <table id="file_listing" class="table">
        <thead class="bg-primary">
          <tr>
            <th></th>
            <th class="text-white pl-4" scope="col">#</th>
            <th class="text-white" scope="col">File Name</th>
            <th class="text-white" scope="col">Start Date</th>
            <th class="text-white" scope="col">End Date</th>
            <th class="text-white" scope="col">Status</th>
            <!-- <th class="text-white" scope="col">Date Created</th> -->
            <th class="text-white" scope="col">More</th>
          </tr>
        </thead>
        <tbody class="px-3">
          <tr vAlign="middle" *ngFor="let file of shared_files;let i = index; let odd = odd"
          [ngClass]="{ odd: odd }">
          <th class="text-center">
            <div class="checkbox checkbox-solid-primary">
              <input
                id="solid{{file.id}}"
                type="checkbox"
                (change)="selectFiles($event,file)" 
                data-bs-original-title=""
                title=""
              />
              <label for="solid{{file.id}}"></label>
            </div>
          </th>
            <td scope="row" class="pl-4">  {{ (page - 1) * 10 + i + 1 }}.</td>
            <td>
              <a [title]="file.file ? file.file.originalFileName: file.originalFileName" [routerLink]="['/file-management/upload/view']" [queryParams]="{id: file.file ? file.file.id: file.id,type:type}">{{file.file ? ((file.file.originalFileName).length > 15 ? (file.file.originalFileName).substring(0, 15) + '...': file.file.originalFileName)  :((file.originalFileName).length > 15 ? (file.originalFileName).substring(0, 15) + '...': file.originalFileName)}} </a>
            </td>
           
            <td>{{(file.file ? file.file.startDate: file.startDate) | date}}</td>
            <td>{{(file.file ? file.file.endDate: file.endDate) | date}}</td>
            <td>
              <span *ngIf="file && !file.file" [ngClass]="{ 'badge-warning' : file.status == 'Inactive','badge-primary' : (file.status == 'InProgress'|| file.status == 'Inprogress'),'badge-danger' : file.status == 'Pending','badge-info' : file.status == 'Completed','badge-success' : file.status == 'Approved'}" class="badge rounded-pill"
                >{{file.file ? file.file.status: file.status}}</span
              >
              <span *ngIf="file && file.file" [ngClass]="{ 'badge-warning' : file.file.status == 'Inactive','badge-primary' : (file.file.status == 'InProgress' || file.file.status == 'Inprogress'),'badge-danger' : file.file.status == 'Pending','badge-info' : file.file.status == 'Completed','badge-success' : file.status == 'Approved'}" class="badge rounded-pill"
              >{{file.file ? file.file.status: file.status}}</span
            >
            </td>
            <td>
              <button
                class="btn btn-primary p-1 px-3 btn-sm mr-2"
                type="button"
                (click)="openShared(content,file)" *ngIf="(file && !file.is_sharing && user_details.id == file.initiator_id && this.type != 'shared-with-me') || isAdmin && file && !file.is_sharing"
              >
         
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-edit-2"
                  _ngcontent-ulk-c129=""
                  style="width: 15px"
                >
                  <path
                    d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"
                  ></path>
                </svg>
              </button>
<!-- delete button -->
              <button
                class="btn btn-primary p-1 px-3 btn-sm mr-2"
                type="button"
                (click)="openShared(deletecontent,file)" *ngIf="(file && file.is_sharing && user_details.id == file.initiator_id) || isAdmin && file && file.is_sharing"
              >
         
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-18 h-18"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
              </button>

              <!-- share comment button -->
              <button
              class="btn btn-primary p-1 px-3 btn-sm mr-2"
              type="button"
              (click)="openShared(commentContent,file)" *ngIf="(file && file.is_sharing && user_details.id == file.initiator_id) || isAdmin && file && file.is_sharing"
            >
       
            <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>
            </button>
              <button
              class="btn btn-primary p-1 px-3 btn-sm"
              type="button"
              [routerLink]="['/file-management/upload/view']" [queryParams]="{id: file.file ? file.file.id: file.id,type:type}"
            >
       
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
            </button>
            </td>
          </tr>
          <tr *ngIf="shared_files && shared_files.length == 0">
            <td class="text-center" colspan="8">No item found</td>
          </tr>
          <!-- <tr vAlign="middle">
            <th class="text-center">
              <div class="checkbox checkbox-solid-primary">
                <input id="solid6" type="checkbox" />
                <label for="solid6"></label>
              </div>
            </th>
            <td scope="row" class="pl-4">2</td>
            <td>
              <a [routerLink]="['/file-management/upload/view']">
                Jacob Thornton
              </a>
            </td>
            <td>
              <span class="badge rounded-pill badge-danger">Deleted</span>
            </td>
            <td>02 Feb, 2021</td>
            <td>
              <button
                class="btn btn-primary p-1 px-3 btn-sm"
                type="button"
                (click)="openShared(content)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-edit-2"
                  _ngcontent-ulk-c129=""
                  style="width: 15px"
                >
                  <path
                    d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"
                  ></path>
                </svg>
              </button>
            </td>
          </tr>
          <tr vAlign="middle">
            <th class="text-center">
              <div class="checkbox checkbox-solid-primary">
                <input id="solid6" type="checkbox" />
                <label for="solid6"></label>
              </div>
            </th>
            <td scope="row" class="pl-4">3</td>
            <td>
              <a [routerLink]="['/file-management/upload/view']">
                Larry the Bird
              </a>
            </td>
            <td>
              <span class="badge rounded-pill badge-success">Completed</span>
            </td>
            <td>02 Feb, 2021</td>
            <td>
              <button
                class="btn btn-primary p-1 px-3 btn-sm"
                type="button"
                (click)="openShared(content)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-edit-2"
                  _ngcontent-ulk-c129=""
                  style="width: 15px"
                >
                  <path
                    d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"
                  ></path>
                </svg>
              </button>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="pull-left mb-5" *ngIf="shared_files &&shared_files.length">
    <button
      class="btn btn-primary m-r-15"
      type="button"
      data-bs-original-title=""
      title=""
      (click)="exportData('file_listing')"
    >
      Export to CSV
    </button>
  </div>
  <div class="pull-right mb-5">
   
    <button
      class="btn btn-primary m-r-15"
      type="button"
      [disabled]="page == 1"
      (click)="fetchPage(-1)"
      data-bs-original-title=""
      title=""
    >
      Previous
    </button>
    <button
    class="btn btn-primary"
    [disabled]="page >= totalPages"
    (click)="fetchPage(1)"
    type="button"
    data-bs-original-title=""
    title=""
  >
    Next 
  </button>
  </div>
  <!-- <div class="pull-right mb-5">
    <button
      class="btn btn-primary m-r-15"
      type="button"
      data-bs-original-title=""
      title=""
    >
      Previous
    </button>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-original-title=""
      title=""
    >
      Next
    </button>
  </div> -->
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit File</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-form-label">Name</label>
      <div class="form-input position-relative">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="file_details.originalFileName"
          required=""
          placeholder="File Name"
          disabled
        />
      </div>
    </div>
    <div class="form-group">
      <div class="mb-3">
        <label class="col-form-label">Status</label>
        <select class="form-control btn-square"  [(ngModel)]="status">
          <option value="0">--Select--</option>
          <!-- <option value="pending">Pending</option> -->
          <!-- <option value="2">Deleted</option> -->
          <option value="inprogress">Inprogress</option>
          <option value="inactive">Inactive</option>
          <option value="completed">Completed</option>
          <option value="approved">Approved</option>
         
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
    <button type="button" (click)="updateFileStatus()" class="btn btn-primary">Update</button>
  </div>
</ng-template>

<!-- <ng-template #commentContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Comment</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="input-group">
        <div class="row">
          <div class="col-sm-12 mb-3">
            <textarea
              name="Text1"
              class="form-control"
              placeholder="Comment (Optional)"
              cols="60"
              rows="5"
            ></textarea>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="mb-3">
              <label class="form-label">Start Date</label>
              <input class="form-control" type="date" />
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="mb-3">
              <label class="form-label">End Date</label>
              <input class="form-control" type="date" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light">
      <a class="text-dark" (click)="modal.close('Close click')"> Share </a>
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
  </div>
</ng-template> -->



<ng-template #deletecontent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <h5>Are you sure, you want to delete this file?</h5>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
    <button type="button" (click)="deleteFile()" class="btn btn-danger">Delete</button>
  </div>
</ng-template>

<ng-template #commentContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Comment</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="input-group">
        <div class="row">
          <div class="col-sm-12 mb-3">
            <textarea name="Text1" class="form-control" placeholder="Comment (Optional)" cols="60" rows="5" [(ngModel)]="comment">
              {{comment}}
            </textarea>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="mb-3">
              <label class="form-label">Start Date </label>
              <input [(ngModel)]="start_date"
                class="form-control"
                type="date"
              />
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="mb-3">
              <label class="form-label">End Date</label>
              <input  [(ngModel)]="end_date"
                class="form-control"
                type="date"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light">
      <a class="text-dark" (click)="shareFile()"> Share </a>
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
  </div>
</ng-template>

