.pdfFile{
    width: 100%;
    height: 100vh;
    border: 1px solid #888;
    display: flex;
    justify-content: center;
    align-items: center;
}


.error{
    color: red;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .pad{
    margin-right: 10px;
    margin-top: 10px;
  }


  .invalid-feedback {
    display: block;
  }

  .sign-m {
    overflow-x: overlay;
    max-height: 500px
  }