<div class="row m-0">
    <div class="col-xl-6 p-0">
      <div class="login-card">
        <a class="logo">
          <img
            class="img-fluid for-light"
            [src]="logo ? imgBaseUrl+logo : '../assets/images/logo/logoimage.jpeg'"
            alt="looginpage"
          />
        </a>
      </div>
    </div>
    <div class="col-xl-6 p-0">
      <div class="login-card">
        <div>
          <div class="login-main">
            <form class="theme-form" [formGroup]="loginForm" (ngSubmit)="login()">
              <h4>Admin Login</h4>
              <p>Enter your email & password to login</p>
              <div class="form-group">
                <label class="col-form-label">Email Address</label>
                <input
                  class="form-control"
                  type="email"
                  formControlName="email"
                  placeholder="Enter your email id"
                  autocomplete="cc-off"
                />
                <div *ngIf="loginForm.controls.email.invalid && !loginForm.controls['email'].pristine"
                class="text-danger invalid-feedback">
                Please enter Valid Email ID
              </div>
            
              </div>
              <div class="form-group">
                <label class="col-form-label">Password</label>
                <div class="form-input position-relative">
                  <input
                    class="form-control"
                    type="password"
                    name="login[password]"
                    formControlName="password"
                    placeholder="Enter your pasword"
                    autocomplete="cc-off"
                  />
                  <div *ngIf="loginForm.controls.password.invalid && !loginForm.controls['password'].pristine"
                  class="text-danger invalid-feedback">
                  Please enter valid password
                </div>
      
                </div>
  
              </div>
              <!-- <div class="form-group mb-0">
                <label>
                  <a [routerLink]="['/auth/forgot-password']" class="link" >Forgot password?</a>
                </label>
              </div> -->
              <div class="form-group mb-0">
                <div class="text-end mt-3">
                  <button class="btn btn-primary btn-block w-100" type="submit"
                  [disabled]="!loginForm.valid || requested == true">
                    Log In
                </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  