<div class="row m-0">
  <div class="col-xl-6 p-0">
    <div class="login-card">
      <a class="logo">
        <img
          class="img-fluid for-light"
          [src]="logo ? imgBaseUrl+logo : '../assets/images/logo/logoimage.jpeg'"
          alt="looginpage"
        />
      </a>
    </div>
  </div>
  <div class="p-0">
    <div class="login-card">
      <div>
        <div class="login-main">
          <form class="theme-form" [formGroup]="confirmPass" (ngSubmit)="submit()">
            <h4 class="mb-4">Reset Password</h4>
            <div class="form-group">
              <label class="col-form-label">Password</label>
              <div class="input-group">
                <input
                  autocomplete="off"
                  [type]="showPass ? 'text' : 'password'"
                  type="password"
                  class="form-control"
                  [placeholder]="
                    showPass ? 'Enter Current Password' : '*********'
                  "
                  formControlName="password"
                  />
                <div class="input-group-append sign">
                  <button
                    class="btn pb-0 pt-0"
                    (click)="showPass = !showPass"
                    type="button"
                  >
                    <i *ngIf="showPass == true" class="fa fa-eye text-dark"></i>
                    <i
                      *ngIf="showPass == false"
                      class="fa fa-eye-slash text-dark"
                    ></i>
                  </button>
                </div>
               </div>
               <div class="text-danger" *ngIf="confirmPass.controls.password.invalid && !confirmPass.controls['password'].pristine">
                Min length 8 Characters
              </div>
            
              </div>
            <div class="form-group">
              <label class="col-form-label">Confirm Password</label>

              <div class="input-group">
             
                <input
                  autocomplete="off"
                  [type]="showPass2 ? 'text' : 'password'"
                  [placeholder]="showPass2 ? 'Enter New Password' : '*********'"
                  type="password"
                  formControlName="password_confirmation"
                  class="form-control"
                />
                <div class="input-group-append sign">
                  <button
                    class="btn pb-0 pt-0"
                    (click)="showPass2 = !showPass2"
                    type="button"
                  >
                    <i
                      *ngIf="showPass2 == true"
                      class="fa fa-eye text-dark"
                    ></i>
                    <i
                      *ngIf="showPass2 == false"
                      class="fa fa-eye-slash text-dark"
                    ></i>
                  </button>
                </div>
              
              </div>
              <div class="text-danger" *ngIf="confirmPass.hasError('mismatch') && !confirmPass.controls['password_confirmation'].pristine">
                Password Didn't Matched
              </div>
           
            </div>
            <div class="form-group mb-0">
              <div class="text-end mt-3">
                <button type="submit"  [disabled]="!confirmPass.valid || requested == true"   class="btn btn-primary btn-block w-100"
                >
                  Reset Password
                </button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
