.input-group .input-group-append.sign {
    border: 1px solid #d9d9d9;
    border-left: 0;
}
canvas {
    display: block;
    border: 1px solid rgb(187, 178, 178);
    background-color: var(--ion-color-success);
}
button {
    margin: 10px;
    margin-left: 10px;
}