<app-breadcrumb
  [title]="'Edit User'"
  [items]="['Users']"
  [active_item]="'Edit'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row second-chart-list third-news-update">
    <div class="col-xl-12 xl-100 chart_data_left box-col-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="userForm">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">First Name</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="firstName"
                    placeholder="First Name"
                  />
                  <div
                    class="text-danger small p-t-10"
                    [hidden]="
                      !isFormSubmitted || !userForm.controls['firstName'].errors
                    "
                  >
                    First Name is required
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Last Name</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="lastName"
                    placeholder="Last Name"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input
                    class="form-control"
                    type="email"
                    formControlName="email"
                    disabled
                    placeholder="Email"
                  />
                </div>
              </div>
              <!-- <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <div class="form-group">
                    <label class="col-form-label">Password</label>
                    <div class="input-group">
                      <input
                        disabled
                        autocomplete="off"
                        [type]="showPass ? 'text' : 'password'"
                        type="password"
                        class="form-control"
                        formControlName="password"
                        placeholder="*********"
                      />
                      <div class="input-group-append sign">
                        <button
                          class="btn mt-0 mb-0"
                          (click)="showPass = !showPass"
                          type="button"
                        >
                          <i
                            *ngIf="showPass == true"
                            class="fa fa-eye text-dark"
                          ></i>
                          <i
                            *ngIf="showPass == false"
                            class="fa fa-eye-slash text-dark"
                          ></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Phone</label>
                  <input
                    class="form-control"
                    type="number"
                    formControlName="phoneNumber"
                    placeholder="Phone number"
                  />
                  <!-- <div
                    class="text-danger small p-t-10"
                    [hidden]="
                      !isFormSubmitted ||
                      !userForm.controls['phoneNumber'].errors
                    "
                  >
                    Phone number is required
                  </div> -->
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Role</label>
                  <select
                    formControlName="role"
                    class="form-control btn-square" disabled
                  >
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>
                  </select>
                </div>
              </div>
              <!-- <div class="col-sm-6 col-md-6">
                <label class="form-label" for="validationCustom01"
                  >Signature</label
                >
                <div class="row">
                  <div class="col-md-6">
                               
                <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>

              </div>
              <div class="col-md-6">
                <img src='{{ signatureImg }}' />
                </div>
                
</div>
                 <button class="btn btn-danger" (click)="clearPad()">Clear</button>
<button color="secondary" class="btn btn-primary" (click)="savePad()">Save</button>
</div> -->
              <!-- <div class="col-sm-6 col-md-6">
                <label class="form-label" for="validationCustom01"
                  >Signature</label
                >
                <br />
                <a class="pointer" (click)="showSignature(content)">
                  Preveiw Image
                </a>
              </div> -->

            
            </div>
          </form>
          <div class="row">
            <div class="col-12 d-flex">
              <div class="mb-3">
                <label class="col-form-label m-r-10">Is Active</label>
                <div class="icon-state">
                  <label class="switch">
                    <input type="checkbox" [(ngModel)]="isActive" /><span
                      class="switch-state"
                    ></span>
                  </label>
                </div>
              </div>
              <div class="mb-3 ml-4">
                <label class="col-form-label m-r-10">Delete</label>
                <div class="icon-state">
                  <label class="switch">
                    <input type="checkbox" [(ngModel)]="isDeleted" /><span
                      class="switch-state"
                    ></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="col-12 p-t-15 text-center">
              <button
                (click)="updateUser()"
                class="btn w-auto ml-3 mr-3 btn-primary"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">User Signature</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img
      src="https://static.cdn.wisestamp.com/wp-content/uploads/2020/08/Oprah-Winfrey-Signature-1.png"
      alt="Signature"
      class="img-fluid"
    />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
