<app-breadcrumb
  [title]="'Settings'"
  [active_item]="'Settings'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row second-chart-list third-news-update">
    <div class="col-xl-12 xl-100 chart_data_left box-col-12">
      <div class="card m-t-50">
        <div class="card-body user-profile">
          <div class="row">
            <div class="col-12 mb-5 p-b-30 hovercard">
              <input
                type="file"
                id="blogimage"
                accept="image/*,"
                (change)="blogImage($event)"
                class="form-control d-none pointer"
              />
              <div class="user-image mb-5">
                <label for="blogimage" class="blogImg">
                  <div class="avatar">
                    <img
                      appLazyImg
                      alt="edit"
                      class="rounded-circle pointer"
                      [src]="image ? imgBaseUrl+image : '../assets/images/user/7.jpg'"
                    />
                    <div class="icon-wrapper">
                      <i class="icofont icofont-pencil-alt-5"></i>
                    </div>
                  </div>
                </label>
              </div>
            </div>

            
            <form [formGroup]="profileForm" class="row col-12">
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">First Name</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="firstName"
                    placeholder="First Name"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Last Name</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Last Name"
                    formControlName="lastName"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input
                    class="form-control"
                    formControlName="email"
                    type="email"
                    placeholder="Email"
                  />
                </div>
              </div>
              <!-- <div class="col-sm-6 col-md-6" >
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input
                  class="form-control"
                  type="password"
                  placeholder="Password"
                />
              </div>
            </div> -->
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Phone</label>
                  <input
                    class="form-control"
                    formControlName="phoneNumber"
                    type="number"
                    placeholder="Phone number"
                  />
                </div>
              </div>
            </form>
            <!-- <div class="col-sm-6 col-md-6" *ngIf="!isAdmin">
              <label class="form-label" for="validationCustom01"
                >Signature</label
              >
              <div class="row">
                <div class="col-md-6">
                             
              <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>

            </div>
            <div class="col-md-6">
              <img src='{{ signatureImg }}' />
              </div>
              
</div>
               <button class="btn btn-danger" (click)="clearPad()">Clear</button>
<button color="secondary" class="btn btn-primary" (click)="savePad()">Save</button>
</div> -->
            <!-- <div class="col-sm-6 col-md-6" *ngIf="!isAdmin">
              <label class="form-label" for="validationCustom01"
                >Signature</label
              >
              <br />
              <a class="pointer" (click)="showSignature(content)">
                Preveiw Image
              </a>
            </div> -->

            <div class="col-12 d-flex">
              <div class="mb-3">
                <label class="col-form-label m-r-10">Notifications</label>
                <div class="icon-state">
                  <label class="switch" for="notify">
                    <input
                      type="checkbox"
                      id="notify"
                      [(ngModel)]="emailNotification"
                      (ngModelChange)="update($event)"
                    /><span class="switch-state"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-12 p-t-15 text-center">
              <button
                (click)="updateUser()"
                class="btn w-auto ml-3 mr-3 btn-primary"
              >
                Save
              </button>
            </div>



            <div class="col-3 mb-5 p-b-30 hovercard" *ngIf="isAdmin">
              <input
                type="file"
                id="logoImage"
                accept="image/*,"
                (change)="blogLogoImage($event)"
                class="form-control d-none pointer"
              />
          
              <div class="user-image mb-5">
                
                <label for="logoImage" class="blogImg">
                  <div class="">
                    Upload Logo
                    <img
                      appLazyImg
                      alt="edit" height="100"
                      class="rounded-circle pointer"
                      [src]="logo ? imgBaseUrl+logo : '../assets/images/user/7.jpg'"
                    />
                    <div class="icon-wrapper">
                      <i class="icofont icofont-pencil-alt-5"></i>
                    </div>
                  </div>
                </label>
              </div>
            </div>

            <form  class="row col-12" *ngIf="isAdmin">
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Title</label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="title"
                    placeholder="Enter project title"
                  />
                </div>
              </div>
            </form>

            <div class="col-12 p-t-15 text-center" *ngIf="isAdmin">
              <button
                class="btn w-auto ml-3 mr-3 btn-primary" (click)="saveLogoInfo()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">User Signature</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img
      src="https://static.cdn.wisestamp.com/wp-content/uploads/2020/08/Oprah-Winfrey-Signature-1.png"
      alt="Signature"
      class="img-fluid"
    />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
