.user-profile .hovercard .user-image .avatar img{
    width: 200px;
    height: 200px;
}
.user-profile .hovercard .user-image .icon-wrapper{
    bottom: -100px;
}
canvas {
    display: block;
    border: 1px solid rgb(187, 178, 178);
    background-color: var(--ion-color-success);
}
button {
    margin: 10px;
    margin-left: 10px;
}