<app-breadcrumb
  [title]="'Dashboard'"
  [active_item]="'Dashboard'"
></app-breadcrumb>
<div *ngIf="isAdmin" class="container-fluid">
  <div class="row second-chart-list third-news-update">
    <div class="col-xl-12 xl-100 chart_data_left box-col-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="row m-0 chart-main">
            <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <a class="text-dark" [routerLink]="['/user']">
                      <span>Total Customer</span>
                      <h4>{{ totalCustomers || '--'}}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <a class="text-dark" [routerLink]="['/user']">
                      <span>Active Customer</span>
                      <h4>{{ activeCustomers || '--'}}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <a class="text-dark" [routerLink]="['/user']">
                      <span>InActive Customer</span>
                      <h4>{{ inactiveCustomers || '--'}}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media border-none align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <a class="text-dark" [routerLink]="['/user']">
                      <span>Deleted Customer</span>
                      <h4>{{ deactivatedCustomers || '--'}}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <a class="text-dark" [routerLink]="['/file-management/listing']">
                      <span>Total Files</span>
                      <h4>{{totalFiles || '--'}}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <a class="text-dark" [routerLink]="['/file-management/listing']">
                      <span>Active Files</span>
                      <h4>{{activeFiles || '--'}}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media border-none align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <a class="text-dark" [routerLink]="['/file-management/listing']">
                      <span>In-Active Files</span>
                      <h4>{{inactiveFiles || '--'}}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 box-col-12">
      <div class="row">
        <div class="col-sm-12 col-xl-6 xl-100">
          <div class="card">
            <div class="card-header">
              <h5>Users</h5>
            </div>
            <div class="card-body">
              <div id="column-chart">
                <apx-chart
                  [series]="usersChart.series"
                  [chart]="usersChart.chart"
                  [dataLabels]="usersChart.dataLabels"
                  [plotOptions]="usersChart.plotOptions"
                  [yaxis]="usersChart.yaxis"
                  [fill]="usersChart.fill"
                  [stroke]="usersChart.stroke"
                  [tooltip]="usersChart.tooltip"
                  [xaxis]="usersChart.xaxis"
                  [colors]="usersChart.colors"
                >
                </apx-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xl-6 xl-100">
          <div class="card">
            <div class="card-header">
              <h5>Files</h5>
            </div>
            <div class="card-body">
              <div id="column-chart">
                <apx-chart
                  [series]="filesChart.series"
                  [chart]="filesChart.chart"
                  [dataLabels]="filesChart.dataLabels"
                  [plotOptions]="filesChart.plotOptions"
                  [yaxis]="filesChart.yaxis"
                  [fill]="filesChart.fill"
                  [stroke]="filesChart.stroke"
                  [tooltip]="filesChart.tooltip"
                  [xaxis]="filesChart.xaxis"
                  [colors]="filesChart.colors"
                >
                </apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isAdmin" class="container-fluid">
  <div class="row second-chart-list third-news-update">
    <div class="col-xl-12 xl-100 chart_data_left box-col-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="row m-0 chart-main">
            <div class="col-xl col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <a class="text-dark" [routerLink]="['/file-management/listing']">
                      <span>Completed Files </span>
                      <h4>{{dashboard_data?.user_completed_files ? dashboard_data.user_completed_files.count : 0}}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <a class="text-dark" [routerLink]="['/file-management/listing']">
                      <span>Pending Files</span>

                      <h4>{{dashboard_data?.user_pending_files ? dashboard_data.user_pending_files.count : 0}}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <a class="text-dark" [routerLink]="['/file-management/listing']">
                      <span>In Progress</span>
                      <h4>{{dashboard_data?.user_inprogress_files.count ? dashboard_data.user_inprogress_files.count : 0}}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media border-none align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <a class="text-dark" [routerLink]="['/file-management/listing']">
                      <span>Inactive Files</span>
                      <h4>{{dashboard_data?.user_inactive_files ? dashboard_data.user_inactive_files.count : 0}}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media border-none align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <a class="text-dark" [routerLink]="['/file-management/listing']">
                      <span>Deleted Files</span>
                      <h4>{{dashboard_data?.user_deleted_files ? dashboard_data.user_deleted_files.count : 0}}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 box-col-12">
              <div class="table-responsive">
                <table class="table">
                  <thead class="bg-primary">
                    <tr>
                      <!-- <th></th> -->
                      <th class="text-white pl-4" scope="col">#</th>
                      <th class="text-white" scope="col">File Name</th>
                      <th class="text-white" scope="col">Date Created</th>
                      <th class="text-white" scope="col">Satus</th>
                    </tr>
                  </thead>
                  <tbody class="px-3">
                    <tr
                      vAlign="middle"
                      *ngFor="
                        let file of dashboard_data?.user_files;
                        let i = index
                      "
                    >
                      <!-- <th class="text-center">
                        <div class="checkbox checkbox-solid-primary">
                          <input
                            id="solid6"
                            type="checkbox"
                            checked=""
                            data-bs-original-title=""
                            title=""
                          />
                          <label for="solid6"></label>
                        </div>
                      </th> -->
                      <td scope="row" class="pl-4">{{ i + 1 }}.</td>
                      <td>{{file.originalFileName }}</td>
                      <td>{{file.createdAt  | date}}</td>
                      <td>
                        <span  [ngClass]="{ 'badge-warning' : file.status == 'Inactive','badge-primary' : file.status == 'InProgress','badge-danger' : file.status == 'Pending','badge-info' : file.status == 'Completed','badge-success' : file.status == 'Approved'}" class="badge rounded-pill"
                        >{{ file.status}}</span
                      >
                        <!-- <span class="badge rounded-pill badge-warning text-dark"
                          >{{file.status }}</span
                        > -->
                      </td>
                     
                    </tr>
                  </tbody>
                </table>
                <a [routerLink]="'/file-management'"
								class="text-black pull-right p-5 text-center w-100 text-uppercase"
						*ngIf="dashboard_data?.user_files.length == 10"	>
              View all
							</a>
                <h2
								class="h3 text-black p-5 text-center w-100 text-uppercase"
						*ngIf="!dashboard_data?.user_files.length"	>
              No File
							</h2>
              </div>
            </div>
          </div>
          <!-- <div class="row p-l-35 p-r-35 p-t-35 p-b-20">
            <div class="col-6">
              <button
                class="btn btn-primary m-r-15"
                type="button"
                data-bs-original-title=""
                title=""
              >
                Export
              </button>
            </div>
            <div class="col-6 text-right">
              <button
                class="btn btn-primary m-r-15"
                type="button"
                data-bs-original-title=""
                title=""
              >
                Previous
              </button>
              <button
                class="btn btn-primary"
                type="button"
                data-bs-original-title=""
                title=""
              >
                Next
              </button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
