<div class="row">
    <div class="col-xl-12 col-md-12 box-col-12">
      <div class="file-content">
        <div class="card">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <div>
                <h4 *ngIf="shared_file">{{shared_file.file.originalFileName}}</h4>
              </div>
            
           
              <div class="media-body text-right" [hidden]="shared_file && shared_file.sign_status == 'Completed' && shared_file.is_locked">
                <button class="btn btn-outline-primary ms-2" (click)="submitSign()" [disabled]="sign_submitted">
                  <i class="fa fa-check p-r-5"> </i>Submit Sign 
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 px-5">
                <div class="pdfFile" id="viewer">
                  <!-- <h2>Under Developement</h2> -->
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add Comment</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="input-group">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <textarea
                name="Text1"
                class="form-control"
                placeholder="Comment (Optional)"
                cols="60"
                rows="5"
              ></textarea>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="mb-3">
                <label class="form-label">Start Date</label>
                <input class="form-control" type="date" />
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="mb-3">
                <label class="form-label">End Date</label>
                <input class="form-control" type="date" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light">
        <a class="text-dark" (click)="modal.close('Close click')"> Share </a>
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close('Close click')"
      >
        Cancel
      </button>
    </div>
  </ng-template>
  