<app-breadcrumb
  [title]="'Users'"
  [isUsers]="true"
  [active_item]="'Users'"
  (callImportCSV)="onFileChange($event)"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row second-chart-list third-news-update">
    <div class="col-xl-12 xl-100 chart_data_left box-col-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="row m-0 chart-main">
            <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <span>Total Customer </span>
                    <h4>{{ totalCustomers }}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <span>Active Customer</span>
                    <h4>{{ activeCustomers }}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <span>InActive Customer</span>
                    <h4>{{ inactiveCustomers }}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
              <div class="media border-none align-items-center">
                <div class="media-body">
                  <div class="right-chart-content text-center">
                    <span>Deleted Customer</span>
                    <h4>{{ deactivatedCustomers }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 box-col-12">
              <div class="table-responsive">
                <table id="contactJs" class="table">
                  <thead class="bg-primary">
                    <tr>
                      <th></th>
                      <th class="text-white pl-4" scope="col">#</th>
                      <th class="text-white" scope="col">Name</th>
                      <th class="text-white" scope="col">Email</th>
                      <th class="text-white" scope="col">Phone</th>
                      <th class="text-white" scope="col">Status</th>
                      <th class="text-white" scope="col">Created Date</th>
                      <th class="text-white" scope="col">More</th>
                    </tr>
                  </thead>
                  <tbody class="px-3">
                    <tr >
                      <td colspan="3">
                        <input
                          type="text"
                          [(ngModel)]="search"
                          (ngModelChange)="this.searchUpdate.next($event)"
                          class="form-control input-primary"
                          id="datatable-search-input"
                          placeholder="Search Users..."
                        />
                      </td>
                    </tr>
                    <tr
                      vAlign="middle"
                      *ngFor="let item of users; let i = index; let odd = odd"
                      [ngClass]="{ odd: odd }"
                    >
                      <th class="text-center">
                        <div class="checkbox checkbox-solid-primary">
                          <input
                            id="solid{{i}}"
                            type="checkbox"
                            data-bs-original-title=""
                            title=""
                            (change)="selectUser($event,item)" 
                          />
                          <label for="solid{{i}}"></label>
                        </div>
                      </th>
                      <td scope="row" class="pl-4">
                        {{ (page - 1) * 10 + i + 1 }}.
                      </td>
                      <td>{{ item?.firstName }} {{ item?.lastName }}</td>
                      <td>{{ item.email }}</td>
                      <td>{{ item.phoneNumber != 'null' ? item.phoneNumber : "--" }}</td>
                      <td>
                        <div class="icon-state">
                          <label class="switch">
                            <input
                              type="checkbox"
                              (change)="updateUser(item)"
                              [(ngModel)]="item.isActive"
                            /><span class="switch-state"></span>
                          </label>
                        </div>
                      </td>
                      <td>{{ item.createdAt | date: "mediumDate" }}</td>
                      <td>
                        <button
                          class="btn btn-primary p-1 px-3 btn-sm"
                          type="button"
                          [routerLink]="['/user/edit', item.id]"
                        >
                          <i style="width: 15px" class="fa fa-pencil"></i>
                        </button>
                      </td>
                    </tr>
                    <tr *ngIf="!users.length" class="text-center" >
                      <td colspan="8"> <i>No Users</i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row mt-5 px-3" *ngIf="users.length >0">
            <div class="col mb-5">
              <!-- <button class="user btn btn-light mr-2 pt-1 pb-0">
                <label>
                  <input
                    hidden
                    type="file"
                    (change)="onFileChange($event)"
                    accept=".csv,.xlsx"
                    id="upload-file"
                    multiple="false"
                  />
                  Import CSV
                </label>
              </button> -->

              <button
                class="user btn btn-primary"
                (click)="exportData('contactJs')"
              >
                Export to CSV
              </button>
            </div>
            <div class="col text-right mb-5">
             
              <button
                class="btn btn-primary mr-2"
                type="button"
                [disabled]="page == 1"
                (click)="fetchPage(-1)"
                data-bs-original-title=""
                title=""
              >
                Previous
              </button>
              <button
              class="btn btn-primary pull-right"
              [disabled]="page >= totalPages"
              (click)="fetchPage(1)"
              type="button"
              data-bs-original-title=""
              title=""
            >
              Next
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
