.table td {
    vertical-align: middle !important;
}
@media screen and (min-width: 320px) {
    .page-wrapper .page-body-wrapper .page-title .row h3{
        font-size: 10px;
    }
  
}
@media screen and (min-width: 321px) and (max-width:480px){
    .col-8 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media screen and (min-width: 481px) and (max-width:720px) {
    .col-8 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media screen and(min-width: 721px) and (max-width:1080px) {
    .col-8 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media screen and(min-width: 1080px) and (max-width: 1280px){
    .col-8 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1920px){
    .col-8 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}
