<div class="media profile-media">
  <img class="img-50 b-r-10" height="50px" [src]="user && user.profilePic ? imgBaseUrl+user.profilePic :'assets/images/dashboard/profile.jpg'" alt="" />
  <div class="media-body">
    <span>{{user?.firstName}} {{user?.lastName}}</span>
    <p class="mb-0 font-roboto">
      {{ isAdmin ? "Admin" : "User" }} <i class="middle fa fa-angle-down"></i>
    </p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div">
  <li>
    <a [routerLink]="['/settings']">
      <app-feather-icons [icon]="'user'"></app-feather-icons>
      <span>User Profile </span>
    </a>
  </li>
  <li>
    <a (click)="openChangePassword(content)">
      <app-feather-icons [icon]="'settings'"></app-feather-icons>
      <span>Settings</span>
    </a>
  </li>
  <li>
    <a (click)="logout()">
      <app-feather-icons [icon]="'log-in'"></app-feather-icons>
      <span> Log Out </span>
    </a>
  </li>
</ul>

<ng-template #content let-modal>
  <form
										[formGroup]="passForm"
										(ngSubmit)="changePass()"
									>

  <div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-form-label">Current Password</label>
      <div class="input-group">
        <input
          autocomplete="off"
          [type]="showPass ? 'text' : 'password'"
          type="password"
          formControlName="oldPassword"

          class="form-control"
          [placeholder]="showPass ? 'Enter Current Password' : '*********'"
        />
        <div class="input-group-append sign">
          <button class="btn" (click)="showPass = !showPass" type="button">
            <i *ngIf="showPass == true" class="fa fa-eye text-dark"></i>
            <i *ngIf="showPass == false" class="fa fa-eye-slash text-dark"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label">New Password</label>

      <div class="input-group">
        <input
          autocomplete="off"
          [type]="showPass2 ? 'text' : 'password'"
          formControlName="newPassword"

          [placeholder]="showPass2 ? 'Enter New Password' : '*********'"
          type="password"
          class="form-control"
        />
        <div class="input-group-append sign">
          <button class="btn" (click)="showPass2 = !showPass2" type="button">
            <i *ngIf="showPass2 == true" class="fa fa-eye text-dark"></i>
            <i *ngIf="showPass2 == false" class="fa fa-eye-slash text-dark"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
  </form>
  
</ng-template>
