<div class="row">
    <div class="col-xl-12 col-md-12 box-col-12">
      <div class="file-content">
        <div class="card">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <button id="add_annot_btn" hidden class="btn">add annot</button>
              <button id="rm_annot_btn" hidden class="btn">remove annot</button>
              <div>
                <h4 *ngIf="shared_file">{{shared_file.shared_file.fileName}}</h4>
              </div>
              <!-- <div class="media-body text-right">
                <div class="btn btn-outline-danger ms-2">
                  <i class="fa fa-times p-r-5"> </i>Reject
                </div>
              </div> -->
           
              <div class="media-body text-right">
                <button class="btn btn-outline-primary ms-2" (click)="saveFile()" [disabled]='is_submit'>
                  <i class="fa fa-check p-r-5"> </i>Save
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-8 px-5">
                <div class="pdfFile" id="viewer">
                  <!-- <h2>Under Developement</h2> -->
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <div class="card-header">
                    <h5>Signature Module</h5>
                  </div>
                 
                    <div class="card-body" *ngIf="users_list.length">
                      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">  
                        <div formArrayName="signer_emails">
                          <div  *ngFor="let signer of signerEmails().controls; let i=index" [formGroupName]="i">
                            <div class="form-group">  
                            
                            
                              <label class="form-label" for="validationCustom01">Signer Name {{i+1}} </label> 
                                  <ng-select
                                  [hideSelected]="true"
                                  [items]="users_list"
                                 
                                  formControlName="email"
                                  bindLabel="bindName"
                                  [addTag]="false"
                                  [multiple]="false"
                                  placeholder="Select users"
                                  [clearOnBackspace]="false"
                                  (change)="onSelectUser($event,i);onSubmit()"
                                  (clear)="onRemoveSelectedUser(i)"
                                  [searchFn]="customSearchFn"
                                  #selects
                                 
                                >
                                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                  <h5>{{item.firstName}} {{item.lastName}}</h5>
                         </ng-template>
                               
                            </ng-select>
    
                            <span class="invalid-feedback" *ngIf="is_submit && !signer.value.email">Plese enter Signer {{i+1}} email</span>
                                 
                            </div>
                          <div class="form-group">
                            <label class="form-label" for="validationCustom01">Signer Email {{i+1}}</label> 
                            <input class="form-control" type="text" formControlName="name" readonly>
                          </div>
                       
                        </div>    
                        </div>  
                         
                        <!-- <button type="submit" class="btn btn-success">Submit</button>   -->
                          
                      </form>  
                      <!-- <form [formGroup]="productForm" (ngSubmit)="onSubmit()">  
                      <div class="form-group" *ngFor="let quantity of signerEmails().controls; let i=index" [formGroupName]="i">
                        
                          <input type="text" formControlName="qty" class="form-control"> 
                         
                      <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button> 
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>  
                        </form> -->
                       
  
  
                    <button
                    type="button"
                    class="btn btn-block text-center btn-primary m-r-15" (click)="addSigner(1)" 
                    [disabled]=" signerEmails().controls.length && !signerEmails().controls[signerEmails().controls.length-1].value.email"
                  >
                    <i class="fa fa-plus m-r-10"> </i>Add Signer
                  </button>
  
                  <form class="mt-2" action="javascript:;" (submit)="addUser()" *ngIf="is_add_other_user">
                    <div class="form-group">
                    
                      <label class="form-label" for="validationCustom01">Other Signer Name</label>
                      <input name="other_signer_n" [(ngModel)]="other_signer_name" placeholder="Enter a Name" class="form-control" required>
                    </div>
                 
                    <div class="form-group">
                      <label class="form-label" for="validationCustom01">Other Signer Email</label>
                      <input type="email" [(ngModel)]="other_signer_email" placeholder="Enter a Email" class="form-control" required>
                    </div>
                   
                   
  
                  
  
                  <button
                  type="submit"
                  class="btn btn-block text-center btn-primary m-r-15"  [disabled]="(other_signer_name == '' || other_signer_email == '') ? true : false"
                >
                  <i class="fa fa-plus m-r-10"> </i>Save 
                </button>
                    
                </form>
  
                <button *ngIf="!is_add_other_user"
                type="button"
                class="btn btn-block text-center btn-primary m-r-15" (click)="is_add_other_user = true"
              >
                <i class="fa fa-plus m-r-10"> </i>Add Other Signer 
              </button>
                      
                    </div>
                   
                  
                </div>
              </div>
              <!-- <div class="col-4">
                <div class="card">
                  <div class="card-header">
                      <h5>
                          Signature
                      </h5>
                  </div>
                  <div class="card-body" *ngIf="isSignature">
                    <div class="card">
                      <div class="card-header">
                        <div
                          class="btn-group w-100"
                          role="group"
                          aria-label="Basic example"
                        >
                          <button
                            class="btn btn-light"
                            type="button"
                            data-bs-original-title=""
                            title=""
                          >
                            Draw
                          </button>
                          <button
                            class="btn btn-light"
                            type="button"
                            data-bs-original-title=""
                            title=""
                          >
                            Upload
                          </button>
                          <button
                            class="btn btn-primary"
                            type="button"
                            data-bs-original-title=""
                            title=""
                          >
                            Text
                          </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="col-md-12">
                          <label class="form-label" for="validationCustom01"
                            >Signature</label
                          >
                          <input
                            class="form-control mb-3"
                            id="validationCustom01"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-block text-center btn-primary m-r-15"
                    >
                      <i class="fa fa-check m-r-10"> </i>
                      Done
                    </button>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add Comment</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="input-group">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <textarea
                name="Text1"
                class="form-control"
                placeholder="Comment (Optional)"
                cols="60"
                rows="5"
              ></textarea>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="mb-3">
                <label class="form-label">Start Date</label>
                <input class="form-control" type="date" />
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="mb-3">
                <label class="form-label">End Date</label>
                <input class="form-control" type="date" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light">
        <a class="text-dark" (click)="modal.close('Close click')"> Share </a>
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close('Close click')"
      >
        Cancel
      </button>
    </div>
  </ng-template>
  