<div class="row m-0">
  <div class="col-xl-6 p-0">
    <div class="login-card">
      <a class="logo">
        <img
          class="img-fluid for-light"
          [src]="logo ? imgBaseUrl+logo : '../assets/images/logo/logoimage.jpeg'"
          alt="looginpage"
        />
      </a>
    </div>
  </div>
  <div class="p-0">
    <div class="login-card">
      <div>
        <div class="login-main">
          <form class="theme-form"  [formGroup]="resetForm" (ngSubmit)="resetPass()">
            <h4 class="text-center mb-0">Forgot Password ?</h4>
            <hr class="w-50 text-dark mt-1" />
            <div class="form-group">
              <!-- <label class="col-form-label">Email Address</label> -->
              <input
                class="form-control"
               
                type="email"
                formControlName="email"

                required=""
                placeholder="Test@gmail.com"
              />
            </div>
            <div class="form-group mb-0">
              <div class="text-end mt-3">
                <button
                class="btn btn-block bg-primary signup-btn"
                [disabled]="!resetForm.valid || requested"
              >
              Submit
          </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
