<div class="row">
  <div class="col-xl-12 col-md-12 box-col-12">
    <div class="file-content">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <div>
              <h4 *ngIf="shared_file && shared_file.shared_file">{{shared_file.shared_file.originalFileName}}</h4>
            </div>
            <div class="media-body text-right"> 
              <a *ngIf="shared_file  &&  (user_details?.id == initiator_id || user_details?.role == 'Admin') && (shared_file.shared_file.is_editable )"
              class="btn btn-outline-primary ms-2 ml-2"
              [routerLink]="['/file-management/view/edit-file']"
              [queryParams]="{id:file_id}">
              <i class="fa fa-pencil p-r-5"> </i>Edit
            </a>
           
              <!-- <a  *ngIf="is_shared_user && !is_locked && !is_date_expired"
                class="btn btn-outline-primary ms-2"
                [routerLink]="user_details?.id == initiator_id   ? ['/file-management/upload/edit'] : ['/file-management/sign']"
                [queryParams]="{id:file_id}">
                <i class="fa fa-pencil p-r-5"> </i>Add Sign
              </a> -->
              <a  *ngIf="is_shared_user && !is_locked && !is_date_expired && !shared_file.shared_file.is_sharing"
              class="btn btn-outline-primary ms-2"
             (click)="addSign()">
              <i class="fa fa-pencil p-r-5"> </i>Add Sign 
            </a>

            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8 px-5">
              <div class="pdfFile"  id="viewer" >
                <!-- <h2>Under Developement</h2> -->
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-header">
                  <div
                    class="btn-group w-100"
                    role="group"
                    aria-label="Basic example"
                  >
                    <button
                      (click)="isComments = true"
                      [class]="isComments ? 'btn-primary' : 'btn-light'"
                      class="btn"
                      type="button"
                      data-bs-original-title=""
                      title=""
                    >
                      Comments
                    </button>
                    <button
                      (click)="isComments = false"
                      [class]="isComments ? 'btn-light' : 'btn-primary'"
                      class="btn"
                      type="button"
                      data-bs-original-title=""
                      title=""
                    >
                      Shared With
                    </button>
                  </div>
                </div>
                <div class="card-body" *ngIf="isComments && shared_file">
                  <div class="row">
                    <div class="col-12">
                      <div class="card border" *ngFor="let comment of shared_file.comments">
                        <div class="media card-body g-mb-30 media-comment comment-body">
                          <img
                            class="img-50 rounded-circle m-r-15" height="50px"
                            [src]="comment.user.profilePic ? imgBaseUrl+ comment.user.profilePic : '../assets/images/user/3.jpg'"
                            alt=""
                          />
                          <div
                            class="
                              media-body
                              u-shadow-v18
                              g-bg-secondary g-pa-30  
                            " 
                          >
                            <div class="g-mb-15">
                              <h5 class="h5 g-color-gray-dark-v1 mb-0">
                               {{comment.user.firstName}}  {{comment.user.lastName}}
                              </h5>
                              <span
                                class="
                                  g-color-gray-dark-v4 g-font-size-12
                                  small
                                "
                                >
                                <!-- 5 days ago  -->
                                <!-- Today -->
                                {{comment.createdAt | customDate}} ago
                                <!-- {{comment.createdAt | date}} -->
                                </span
                              >
                            </div>
                           
                          </div>
                         
                        </div>
                      
                        <div class="m-2">
                          <hr />
                        <p >
                         {{comment.comment}}
                        </p>
                      </div>
                      </div>
                      <!-- <div class="card border">
                        <div class="media card-body g-mb-30 media-comment">
                          <div
                            class="
                              media-body
                              u-shadow-v18
                              g-bg-secondary g-pa-30
                            "
                          >
                            <div class="g-mb-15">
                              <h5 class="h5 g-color-gray-dark-v1 mb-0">
                                John Doe
                              </h5>
                              <span
                                class="
                                  g-color-gray-dark-v4 g-font-size-12
                                  small
                                "
                                >5 days ago</span
                              >
                            </div>
                            <hr />
                            <p>
                              Cras sit amet nibh libero, in gravida nulla. Nulla
                              vel metus scelerisque ante sollicitudin. Cras
                              purus odio, vestibulum in vulputate at, tempus
                              viverra turpis. Fusce condimentum nunc ac nisi
                              vulputate fringilla. Donec lacinia congue felis in
                              faucibus ras purus odio, vestibulum in vulputate
                              at, tempus viverra turpis.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card border">
                        <div class="media card-body g-mb-30 media-comment">
                          <div
                            class="
                              media-body
                              u-shadow-v18
                              g-bg-secondary g-pa-30
                            "
                          >
                            <div class="g-mb-15">
                              <h5 class="h5 g-color-gray-dark-v1 mb-0">
                                John Doe
                              </h5>
                              <span
                                class="
                                  g-color-gray-dark-v4 g-font-size-12
                                  small
                                "
                                >5 days ago</span
                              >
                            </div>
                            <hr />
                            <p>
                              Cras sit amet nibh libero, in gravida nulla. Nulla
                              vel metus scelerisque ante sollicitudin. Cras
                              purus odio, vestibulum in vulputate at, tempus
                              viverra turpis. Fusce condimentum nunc ac nisi
                              vulputate fringilla. Donec lacinia congue felis in
                              faucibus ras purus odio, vestibulum in vulputate
                              at, tempus viverra turpis.
                            </p>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="card-body" *ngIf="!isComments">
                  <div class="row">
                    <div class="col-12">
                      <div class="card border" *ngFor="let shared_user of shared_file.shared_users">
                        <div class="media card-body">
                          <img
                            class="img-50 rounded-circle m-r-15" height="50px"
                            [src]="(shared_user.user && shared_user.user.profilePic) ? imgBaseUrl+ shared_user.user.profilePic : '../assets/images/user/3.jpg'"
                            alt=""
                          />
                          <div class="media-body">
                            <span class="f-w-600 d-block">{{shared_user.user ? shared_user.user.firstName : shared_user.other_user_name}} {{shared_user.user ? shared_user.user.lastName : ''}}</span>
                            <small class="light-span">
                              <!-- 1 hour Ago -->
                              {{shared_user.updatedAt | customDate}} ago
                            </small>
                            <br />
                            <span
                              class="badge rounded-pill  text-white" [ngClass]="shared_user.sign_status == 'Pending' ? ' badge-warning' : 'badge-success'"
                            >
                              {{shared_user.sign_status}}
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="card border" >
                        <div class="media card-body">
                          <img
                            class="img-50 rounded-circle m-r-15"
                            src="../assets/images/user/3.jpg"
                            alt=""
                          />
                          <div class="media-body">
                            <span class="f-w-600 d-block">Johny Waston</span>
                            <small class="light-span">1 hour Ago</small>
                            <br />
                            <span
                              class="badge rounded-pill badge-warning text-dark"
                            >
                              Pending
                            </span>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Comment</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="input-group">
        <textarea name="Text1" cols="60" rows="5"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light">
      <a class="text-dark" (click)="view()"> Send </a>
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
  </div>
</ng-template>
