<app-breadcrumb
  [title]="'File Management'"
  [isFiles]="true"
  [active_item]="'File Management'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row second-chart-list third-news-update">
    <div class="col-xl-12 xl-100 chart_data_left box-col-12">
      <div class="card">
        <div class="card-body p-0">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
