.pdf-viewer-wrap {
    display: flex;
    height: 95vh;
    border: 5px solid #cccccc;
}
.pdf-viewer-controls-wrap {
    border: 5px solid #cccccc;
    width: 20%;
    text-align: center;
}
.pdfv-control {
    background: #f3f3f3;
    padding: 10px;
    border-bottom: 1px solid #cccc;
}
.pdfv-control button {
    background: #9dff00;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.pdf-viewer-controls {
    overflow: auto;
}

.pdf-viewer-viewer-window {
    border: 5px solid #cccccc;
    width: 80%;
    overflow: auto;
}
.file-upload{
	height:100px;
	width:100px;
	margin:40px auto;
	border:1px solid #f0c0d0;
	border-radius:100px;
	overflow:hidden;
	position:relative;
}
.file-upload input{
	position:absolute;
	height:400px;
	width:400px;
	left:-200px;
	top:-200px;
	background:transparent;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);  
}
.file-upload img{
	height:70px;
	width:70px;
	margin:15px;
}
@media only screen and (max-width: 320px){
.btn-group .btn {
    padding: 0px 0px;
}
}
