<app-breadcrumb
  [title]="'Add New User'"
  [items]="['Users']"
  [active_item]="'Add'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row second-chart-list third-news-update">
    <div class="col-xl-12 xl-100 chart_data_left box-col-12">
      <div class="card">
        <form [formGroup]="userForm" (ngSubmit)="submitUser()">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">First Name</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="firstName"
                    placeholder="First Name"
                    required
                  />
                  <div
                    class="text-danger small p-t-10"
                    [hidden]="
                      !isFormSubmitted || !userForm.controls['firstName'].errors
                    "
                  >
                    First Name is required
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Last Name</label>
                  <input
                    class="form-control"
                    formControlName="lastName"
                    type="text"
                    placeholder="Last Name"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input
                    class="form-control"
                    formControlName="email"
                    type="email"
                    placeholder="Email"
                    required  autocomplete="cc-off"
                  />
                  <div
                    class="text-danger small p-t-10"
                    [hidden]="
                      !isFormSubmitted || !userForm.controls['email'].errors
                    "
                  >
                    Please enter a valid Email ID 
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <div class="form-group">
                    <label class="col-form-label">Password</label>
                    <div class="input-group">
                      <input
                      autocomplete="cc-off"
                        [type]="showPass ? 'text' : 'password'"
                        type="password"
                        class="form-control"
                        formControlName="password"
                        placeholder="*********"
                        minlength="8"
                        required
                      />
                      <div class="input-group-append sign">
                        <button
                          class="btn"
                          (click)="showPass = !showPass"
                          type="button"
                        >
                          <i
                            *ngIf="showPass == true"
                            class="fa fa-eye text-dark"
                          ></i>
                          <i
                            *ngIf="showPass == false"
                            class="fa fa-eye-slash text-dark"
                          ></i>
                        </button>
                      </div>
                    </div>
                    <div
                    class="text-danger small p-t-10"
                    [hidden]="
                      !isFormSubmitted || !userForm.controls['password'].errors
                    "
                  >
                    Password  is required and must be minimum 8 char long.
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Phone</label>
                  <input
                    class="form-control"
                    formControlName="phoneNumber"
                    type="phone"
                    placeholder="Phone number"
                  />
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Role</label>
                  <select
                    class="form-control btn-square" disabled
                    formControlName="role"
                  >
                    <option value="1">User</option>
                    <option value="2">Admin</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label">Status</label>
                  <select
                    class="form-control btn-square"
                    formControlName="status"
                  >
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                  </select>
                </div>
              </div>

              <div class="col-12 p-t-15 text-center">
                <button type="submit" class="btn w-auto ml-3 mr-3 btn-primary">
                  Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
