/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/app.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";
.router-wrapper  {
    position:  relative;
    overflow:  hidden;
    width:  100vw;
    height:  calc(100%  -  47px);
    perspective:  1200px;
    transform-style:  preserve-3d;
}

:host  {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #60d7a9;
}
@media only screen and (max-width: 575.98px)
{
   
.page-wrapper .page-body-wrapper .page-title .btn-group .btn{
    padding: 8px 6px;
}
.page-wrapper .page-body-wrapper .page-title .breadcrumb .breadcrumb-item a svg{
    width: 10px;
}
}

.btn.btn-primary{
    btn{
        padding:0;
    }
}

.is-invalid.invalid-feedback, .is-invalid.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip {
    display: block!important;
}