<div class="row">
  <div class="col-xl-3 box-col-6 pe-0">
    <div class="file-sidebar">
      <div class="card">
        <div class="card-body">
          <ul>
            <li>
              <div class="btn btn-light">
                <i class="fa fa-angle-down p-r-5"> </i> My Files
              </div>
              <ul class="p-l-25 p-t-5">
                <li>
                  <div class="btn btn-primary">
                    <i class="fa fa-angle-down p-r-5"> </i> Documents
                  </div>
                  <ul class="sidebar-submenu p-l-25 p-t-5">
                    <li>
                        <div class="btn">
                            <i class="text-black-50 fa fa-minus p-r-5"> </i>
                            <span class="text-black-50">Logo.pdf</span>
                        </div>
                    </li>
                    <li>
                        <div class="btn">
                            <i class="text-black-50 fa fa-minus p-r-5"> </i>
                            <span class="text-black-50">Project.pdf</span>
                        </div>
                    </li>
                    <li>
                        <div class="btn">
                            <i class="text-black-50 fa fa-minus p-r-5"> </i>
                            <span class="text-black-50">Backend.pdf</span>
                        </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-9 col-md-12 box-col-12">
    <div class="file-content">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <div>
              <h4>Documents</h4>
            </div>
            <div class="media-body text-right">
              <div class="btn btn-outline-primary ms-2">
                <i data-feather="upload"> </i>Upload
              </div>
            </div>
          </div>
        </div>
        <div class="card-body file-manager">
          <ul class="files">
            <li class="file-box" [routerLink]="['/file-management/upload/preview']">
              <div class="file-top">
                <i class="fa fa-file-pdf-o txt-primary"></i>
              </div>
              <div class="file-bottom">
                <h6>Logo.pdf</h6>
              </div>
            </li>
            <li class="file-box" [routerLink]="['/file-management/upload/view']">
              <div class="file-top">
                <i class="fa fa-file-pdf-o txt-secondary"></i>
              </div>
              <div class="file-bottom">
                <h6>Project.pdf</h6>
              </div>
            </li>
            <li class="file-box" [routerLink]="['/file-management/upload/view']">
              <div class="file-top">
                <i class="fa fa-file-pdf-o txt-success"></i>
              </div>
              <div class="file-bottom">
                <h6>Backend.pdf</h6>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
