

@media screen and (min-width: 320px) {
    .user{
    }
}
// @media screen and (min-width: 321px) and (max-width:480px){
//     .user{
//         font-size: 10px;
//     }
// }

@media screen and (min-width: 481px) and (max-width:720px) {
}

@media screen and(min-width: 721px) and (max-width:1080px) {
}

@media screen and(min-width: 1080px) and (max-width: 1280px){
}

@media screen and (min-width: 1281px) and (max-width: 1920px){

}
