<div class="container-fluid">
  <div class="page-title">
    <div class="row">
      <div class="col-md-3 mt-3">
        <h3 class="heading">{{ title }}</h3>
        </div>

        <div class="col-md-6 text-center mt-3">
        <ng-container *ngIf="isUsers">
          <a
            [routerLink]="['/user/add']"
            class="user btn btn-primary m-l-40 m-r-15"
            type="button"
            data-bs-original-title=""
            title=""
          >
            Add User
          </a>
          <label
          for="upload-csv"
          class="user btn btn-light m-0"
          type="button"
          data-bs-original-title=""
          title=""
        >
          <input
            class="d-none user"
            (change)="importCSV($event)"
            type="file"
            accept=".csv,.xlsx"
            id="upload-csv"
            #inputcsvFile
          />
          Import CSV
        
        </label>
       
        </ng-container>
        <ng-container *ngIf="isFiles">
          <div class="btn-group m-l-40 mt-3" role="group" aria-label="Basic example">
            <label
              for="upload-file"
              class="btn btn-light m-0"
              type="button"
              data-bs-original-title=""
              title=""
              *ngIf="activeLink !== 'upload'"
            >
              <input
                class="d-none"
                (change)="fileUpload($event)"
                type="file"
                
                accept="application/pdf,application/msword"
                id="upload-file"
              />
              File Upload 
            </label>
            <button
              *ngIf="isAdmin"
              [routerLink]="['/file-management/shared']"
              [class]="activeLink === 'shared' ? 'btn-primary' : 'btn-light'"
              class="btn"
              type="button"
              data-bs-original-title=""
              title=""
            >
              File Sharing
            </button>
            <button
              [routerLink]="['/file-management/listing']"
              [class]="activeLink === 'listing' ? 'btn-primary' : 'btn-light'"
              class="btn"
              type="button"
              data-bs-original-title=""
              title=""
            >
              File Listing
            </button>
          </div>
        </ng-container>
      </div>
      <div class="col-md-3  mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="'/dashboard'">
              <app-feather-icons [icon]="'home'"></app-feather-icons>
            </a>
          </li>
          <li class="breadcrumb-item" *ngFor="let item of items">{{ item }}</li>
          <li class="breadcrumb-item active">
            <b>
              {{ active_item }}
            </b>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
